guide.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Guide">
   <xs:complexType>
      <xs:choice maxOccurs="unbounded">
          <xs:element name="DEVICE" minOccurs="0" maxOccurs="unbounded">
	      <xs:complexType>
		   <xs:sequence>
			<xs:element name="IDdevice" type="xs:int" />
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Type" type="xs:string" />
			<xs:element name="Data" type="xs:date" />
			<xs:element name="Person" type="xs:string" />
		   </xs:sequence>
	      </xs:complexType>
	   </xs:element>
      </xs:choice>
   </xs:complexType>
</xs:element>

</xs:schema>
